<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body id="page">
{{#each this}}
  {{#if this.length}}
  <section class="section">
  <h2>{{@key}}</h2>
  {{#if this.dates}}
    {{#each this.dates}}
      <seciton class="logs-list-wrapper">
      <h3>{{@key}}</h3>
      <ul>
        {{#each this}}
        <li class="item">
          <span class="name">{{this.path}}</span>
          {{#if this.additionalInfo.scale}}
            <span class="additional-info">(Retina, scale={{ this.additionalInfo.scale}}</span>
          {{/if}}
          {{#if this.additionalInfo.stream}}
            <span class="additional-info">{{ this.additionalInfo.stream}}</span>
          {{/if}}
          <a href="{{this.path}}" download class="link">download</a>
          <a href="{{this.path}}" download class="link" data-action="delete">delete</a>
        </li>
        {{/each}}
      </ul>
      </seciton>
    {{/each}}
  {{else}}
    <ul>
      {{#each this}}
        <li class="item">
          <span class="name">{{this.path}}</span>
            {{#if this.additionalInfo.scale}}
              <span class="additional-info">(Retina, scale={{ this.additionalInfo.scale}})</span>
            {{/if}}
            {{#if this.additionalInfo.stream}}
              <span class="additional-info">(Retina, scale={{ this.additionalInfo.stream}}</span>
            {{/if}}

          <a href="{{this.path}}" download class="link">download</a>
          <a href="{{this.path}}" download class="link" data-action="delete">delete</a>
        </li>
      {{/each}}
    </ul>
  {{/if}}
  </section>
  {{/if}}
{{/each}}

<script src="script.js"></script>
</body>
</html>